*{
    margin: 0;
    padding: 0;
    /* font-family: "Open Sans",sans-serif; */
    font-family: 'Quicksand', sans-serif;
}
body{
    background: #f8f8f8;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

.container{
    margin-top: 200px;
    padding: 30px; 
    box-shadow :5px 5px 25px 0 rgba(46, 61, 73, 0.178);
    background: #fff;
    border-radius: 5px; 
    position: relative;
}
