*{
    margin: 0;
    padding: 0;
    /* font-family: "Open Sans",sans-serif; */
    font-family: 'Quicksand', sans-serif;
}
body{
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}
.front{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.3)) , url(../../images/1.jpg);
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    text-align: center;
}
.front img{
    width: 100%;
    height: 100%;

}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 0 auto; */
}
.header h1{
    letter-spacing: 5px;
}
.flex-container{
    display: inline-block;
    margin-top: 50px;
    /* margin: 0 auto; */
    /* padding: 30px; */
    /* height: 100%; */
    width: 80%;
    /* margin: auto; */
    /* box-shadow :5px 5px 25px 0 rgba(46, 61, 73, 0.1); */
    background: #fff;
    /* border-radius: 5px; */
    text-align: center;
    position: relative;
    display: flex;
     flex-direction: column;
     /* min-height: 100vh; */
     padding: 30px;
}
.section1{
    /* margin-top: 200px; */
}
h3{
    color: #9b9696;
    letter-spacing: 5px;
    font-style: italic;
}

.section3{
    width: 70%;
    height: 1200px;
    margin: 100px auto;
    box-shadow :5px 5px 25px 0 rgba(46,61,73,.2);
    background: #fff;
    border-radius: 5px;
    
}
.section3 h1{
    padding-top:30px; 
    font-size: 35px;
    text-align: center;
    color: blueviolet;
}

.pros1{
    float: left;
    width: 400px;
    height: 300px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.pros1 img{
    width: 300px;
    height: 200px;
    margin-left: 200px;
}
.desc1{
    margin: 0 0 0 100px;
}
.desc1 h3{
    color: rgb(95, 158, 160);
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.pros2{
    float: right;
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
    margin-right: 100px;
}
.pros2 img{
    width: 300px;
    height: 200px;
    margin-left: -0px;
}
.desc2{
    margin: 0 0 0 100px;
}
.desc2 h3{
    color: rgb(206, 74, 211);
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.pros3{
    float: left;
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
    margin-right: 0px;
}
.pros3 img{
    width: 300px;
    height: 200px;
    margin-right: -300px;
}
.desc3{
    margin: 0 0 0 100px;
}
.desc3 h3{
    color: rgb(255, 252, 88);
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
