*{
  font-family: 'Quicksand', sans-serif;
}
#nav{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 99999;
  background-color: #fff;
  box-shadow :0px 0px 10px 0px rgba(46, 61, 73, 0.3);
}
#nav .navbar{

  color: white;
  /* padding: 5px; */
  /* position: relative; */
  
}
#nav .navbar-brand{
  color: red;
  letter-spacing: -1.5px;
}



#nav .navbar-collapse{
    float: right;
    margin-left:450px; 
    /* color: #4864; */
}
#nav .nav-item{
  /* border-radius: 10px; */
  margin-right: 5px; 
  
}
#nav .nav-item a{
  color: #a2a3a5;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #a2a3a5;
  border-radius:2px; 
}
#nav .active a{
  background-color: #EC5252;
  border: 1px solid #EC5252;
  color: white;
  border-radius:2px; 
}

#nav .nav-item a:hover {
  /* text-decoration: none; */
  color: black;
  border: 1px solid black;
  border-radius:2px; 
}
#nav .active a:hover{
  background-color: #ad3a3a;
  border: 1px solid #ad3a3a;
  color: white;
  border-radius:2px; 
}

#nav .logged{
  
  margin-right: 100px;
  color: black;
}
#nav .line{
  float: left;
}
#nav .line h6{
  margin-top: 15px;
  margin-left: 10px;
  font-size: 16px;
  color: black;
}
#nav .photolog{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#nav .photolog  img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* float: left; */
}