*{
    margin: 0;
    padding: 0;
}
body{
    background: #f4f4ef; 
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    padding-top:20vh;
}
img{
    width: 100%;
}

.po{
    position: relative;
    bottom: 20px;
    right: 20px;
    width: 40%;
    z-index: 0;
    transform: rotate(-15deg);
    float:right;
    
}
.po img
{
    box-shadow :5px 5px 25px 5px rgba(46,61,73,.2);
}

.login-container
{
    width: 55%;
    position: relative;
    z-index: 2;
    float: left;
}
.login-page{
    background-color: #fff;
    position: relative;
    width: 70%;
    float: right;
    box-shadow :5px 5px 25px 5px rgba(46,61,73,.2);

}

.mo{
    width: 100%;
    position: relative;
    z-index: 10;
}
.sign-or{
    /* position: relative; */
    /* font-style: bold;  */
    color: #909bad;
    width: calc(50% - 2px);
    height: 50px;
    text-align: center;
    /*line-height: 50px;*/
    font-family: 'Open Sans', sans-serif;
    background: #fafbfc;
    font-size: 14px; 
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
     /*border-radius: 6px; */

}

#sign-insttructor-btn{
    background: #fff;  
}
#sign-academy-btn{
     border-bottom: 1px solid #dbe2e8; 
     border-left: 1px solid #dbe2e8; 
}
.forms-container
{
    position: relative; 
    padding-top: 20px;

}
.form{
    position: relative;
    background: white;
    padding:0 10% 20px;
    text-align: center;
}
.form h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form #nam input{
    width: 50%;
    float: left;
}
.form input{
    outline: 1;
    width: 100%;
    border: none;
    border-bottom:1px solid #f1f1ec;
    margin:0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}


.form input[type=submit]{
    background: #4858a4;
    outline: 0;
    width: 100%;
    border: 0;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 5px;
    /* box-shadow :5px 5px 25px 5px rgba(46,61,73,.2); */
}
.form input[type=submit]:hover , .form input[type=submit]:active{
    background: #4870a9;
}
.form .register-form{
    display: none;
}
#sign-insttructor{
    display: all;
}
#sign-academy{
    display: none;
}

@media(max-width: 1000px)
{
    .login-container
    {
        float: none;
        width: 100%;
        padding:2vw;
        z-index: 1;
    }   
    .login-page{
        width: 100%;
    }
    .po
    {
        float: none;
        width: calc(100% - 4vw);
        padding:20px;
        bottom: 0;
        right: 0;
        margin: auto;
        transform: rotate(0);      
    }
    .po img
    {
        margin-top: 40px;
    }
}